body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 70px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #333;
  margin-bottom: 40px;
  font-size: 35px;
}

.form-group {
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 50px;
  font-size: 25px;
  color: #555;
}

input[type="number"] {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 2px solid pink;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.5s;
}
input[type="number"]:focus {
  border-color: #007BFF;
}

.selection-bar {
  margin-bottom: 20px;
}

.selection-bar select {
  width: 100%; /* Increased width by 50% */
  padding: 20px;
  font-size: 16px;
  margin-bottom: 40px;
  border: 1px solid pink;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.5s;
}

.selection-bar select:focus {
  border-color: pink;
}

.calculate-button {
  background-color: pink;
  color: #fff;
  border: none;
  padding: 25px 50px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-bottom: 40px; /* Adding margin for spacing between buttons */
}

.calculate-button:hover {
  background-color: palevioletred;
}

.result {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-inputs {
  display: flex;
  justify-content: space-between;
}

.modal-content input {
  margin: 10px 5px;
  padding: 10px;
  width: calc(50% - 12px);
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-button {
  background-color: pink;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 10px; /* Adding margin for spacing between buttons */
}

.modal-button:hover {
  background-color: palevioletred;
}
